.header_scroll{
    width: 100%;
    height: 80px;
    background-color: black;
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header_right ul{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position:absolute;
    width: 100%;
    z-index: 2;
}
.header_left input,.btn,.fa-search{
    height: 35.5px;
    border-radius: 0px;
}

.header_left .form-control{
    width: 260px;
    border-left: none;
    &:focus{
        box-shadow: none;
        border-top: 1px solid $color-black-light;
        border-bottom: 1px solid $color-black-light;
        border-left: 1px solid $color-black-light;
    }  
    &:focus + .searchIcon{
        .inputsearch{

            border-top: 1px solid $color-black-light;
            border-bottom: 1px solid $color-black-light;
           
        }
    }
}
.header_left .fa-search{
    border-right: none;
}

.header_right a{
    .fiver{
        color: $color-blue-2;
    }
    text-decoration: none;
    padding: 0 $pd-1 ;
    @include styleText($fs-0,$fw-bold-0,$color-gray-2);
    &:hover{
        @include styleHoverText($color-green-1);
            fill: $color-green-1;
        .globe{
            fill: $color-green-1;
        }
        .fiver{
            transition: all 0.5s;
            color: $color-blue-1;
        }
    }
}
#exampleModal .modal-content{
    @include styleText($fs-1,$fw-normal,$color-black-light);
    h5{
        @include styleText($fs-3,$fw-bold,$color-black-light);
    }
    .line{
        width: 120px;
        height: 0.5px;
        display: inline-block;
        background-color: $color-gray-3;
    }
    .or span{
        height: 1px;
        background-color: $color-gray-3;
    }
    .btn, input{
        width: 100%;
        height: 35.5px;
        border-radius: 4px;
        border: 1px solid $color-blue-3;
        display: block;
        margin: 0 auto;
        
    }
    input{
        &:focus{
            outline:none;
            border-color: $color-black-light; 
            box-shadow: inset 2px 2px 2px $color-gray-2;
        }
    }
    .btn2,.btn3{
        border: 1px solid $color-gray-3;
    }
    .modal-body i{
        padding-right: 10px;
    }
}
.header_right .dropdown .item{
    width: 100%;
    @include styleText($fs-1,$fw-normal,$color-gray-4);
    & .a{
        @include styleText($fs-0,$fw-normal,$color-black-0);
    }
}


